@charset "UTF-8";

body {
    background-color: rgb(157, 236, 164);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 85, 11);
}

h2 {
    color: rgb(17, 129, 26);
}

#principal {
    text-align: center;
    background-color: rgb(4, 85, 11);
    color: white;
}

.basico {
    color: rgb(2, 124, 2);
    font-weight: bolder;
}

.intermediario {
    color: yellow;
}

.avançado {
    color: red;
} v 