@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(imagens/fundo-madeira.jpg) no-repeat fixed;
    background-size: cover;
}

iframe {
    display: block;
    margin: auto;
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 60vh;
    width: 35vw;
    margin-top: 100px;
}

