@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(imagens/fundo-madeira.jpg) no-repeat fixed;
    background-size: cover;
}

div {
    display: block;
    margin: auto;
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 75vh;
    margin-top: 100px;
}

div > img {
    display: block;
    margin: auto;
    height: 55vh;
    width: 18vw;
}

img.tela {

}