@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format(opentype);
}

body {
    background-color: #30f398e1;
    font: bold 20px 'Arial, Helvetica, sans-serif';
    text-align: center;
    overflow-x: hidden;
}

header {
    height: 250px;
    margin: -10px;
    padding: 40px;
    background-image: linear-gradient(#2bdb89, #187e4e);
    color: white;
}


nav > a {
    color: white;
}

main {
    width: min-content;
    margin: 10px auto;
    padding: 30px 30px;
    background-color: white;
}

main h1, h2 {
    text-align: left;
}

main > p {
    text-align: justify;
    text-indent: 25px;
}

.fonte {
    font-family: 'idroid';
    background-image: linear-gradient(to right, rgb(147, 252, 147), rgb(188, 243, 188));
}

.links {
    color: green;
    text-decoration: none;
}

div {
    text-align: center;
    background-color: green;
}

article {
    margin: 20px;
    text-align: justify;
    text-indent: 25px;
    padding: 10px;
    background-color: rgb(155, 243, 155);
    border-radius: 15px;
}
 article > h3 {
    text-align: left;
    background-color: green;
    border-radius: 15px 15px 0px 0px;
    margin: -10px -10px -5px -10px;
    padding: 5px 0px;
    color: white;
 }

 article > ul {
    display: inline-block;
 
 }

 footer {
    background-color: rgb(2, 63, 2);
    padding: 1px;
    color: white;
 }
