@charset "UTF-8";

@font-face {
    font-family: 'Passion One';
    src: url(fonte/PassionOne-Regular.otf) format(opentype);
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-h1: 'Passion One', cursive;
    --fonte-p: 'Verdana', 'Arial', cursive;
} 

* {
    margin: 0%;
    padding: 0%;
}

header {
    min-height: 17vw;
    background-color: black;
    text-align: center;
}

header h1 {
    color: white;
    font-family: var(--fonte-h1);
    font-size: 9vw;
    padding-top: 50px;
}

header p {
    color: white;
    font-family: var(--fonte-p);
    padding-bottom: 50px;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    font-family: 'Sriracha', cursive;
    font-size: 3vw;
    font-weight: bold;
    font-style: italic;
}