@charset "UTF-8";

@font-face {
    font-family: 'Passion One';
    src: url(fonte/PassionOne-Regular.otf) format(opentype);
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-h1: 'Passion One', cursive;
    --fonte-body: 'Verdana', 'Arial', cursive;
    --fonte-p: 'Sriracha', cursive;
} 

* {
    margin: 0%;
    padding: 0%;
}

header {
    height: 25vw;
    background-color: black;
    text-align: center;
}

header h1 {
    color: white;
    font-family: var(--fonte-h1);
    font-size: 9vw;
    padding-top: 50px;
    text-transform: uppercase;
}

header p {
    color: white;
    font-family: var(--fonte-body);
    padding-bottom: 50px;
}


.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    font-family: var(--fonte-p);
    font-size: 3vw;
    font-style: italic;
    font-weight: 800;
    padding-left: 30px;

    line-height: 1em;
}
 
.texto {
    padding: 40px 0px;
}  

#primeiro {
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right bottom;
    height: 400px;
    
}

section div {
    background-color: rgba(0, 0, 0, 0.39);
    width: 50%;
    color: white;
}